@model Turkcell.ECommerce.Core.Shared.Utilities.Results.Abstract.IDataResult<IList<Turkcell.ECommerce.Entities.Concrete.Product>> 

@{ ViewData["Title"] = "Products"; }

<h2>Products</h2>
@if (Model != null)
{<table class="table">
        <thead>
            <tr>

                <th>
                    Ürün İsmi
                </th>
                <th>
                   Fiyat
                </th>
                <th>
                    Açıklama
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Desciption)
    </td>
    <td>
        @Html.ActionLink("View", "ProductDetail", new { productId = item.Id })
    </td>
</tr>
}
        </tbody>
    </table> }
else
{

<h4>No Product found</h4>}

