@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Ürünler</h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive"
                 style="cursor:pointer;height:160px;width:100%"
                 src="../images/turkcell.jpg" />

            <div class="caption">
                <h5>Telefon</h5>
                <p>1000 TL</p>
                <p>Stokta</p>
                <button class="product-item-badge">Sipariş Ver</button>
            </div>


        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">


            <img class="img-responsive"
                 style="cursor:pointer;height:160px;width:100%"
                 src="~/images/kulaklik.png" />
            <div class="caption">
                <h5>Kulaklık</h5>
                <p>1000 TL</p>
                <p>Stokta</p>
                <button onclick="@Html.ActionLink("Home", "Privacy", "Home")" class="product-item-badge">Sipariş Ver</button>

            </div>
        </div>
    </div>
</div>


